img.displayed {
	display: block;
    margin-left: auto;
    margin-right: auto

}
.GitHubparallax {
  /* The image used */
  background-image: url("./image/GitHub.png");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* floating home button */

.label-container{
	position:fixed;
	bottom:48px;
	right:105px;
	display:table;
	visibility: hidden;
}

.label-text{
	color: burlywood;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:block;
	vertical-align:middle;
	color: aliceblue;
	opacity:0.5;
}

.float{
	background-image: url('../Icon/Home.png');
	background-repeat: no-repeat;
	background-size: 90px 90px;
	background-position: center;
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: blanchedalmond;
	color:antiquewhite;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	font-size:24px;
	margin-top:18px;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}

/*END OF FLOATING BUTTON*/
